body, html{
    height: 100%;
    background-color: black;
} 

.bg {
    position: relative;
    background-color: rgba(0,0,0,0);
  }

  .bg::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100vh;
    /*background-color:black;*/
    background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
    filter: brightness(20%);
    /*background-blend-mode: ;*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;

  }
  .bg-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  } 

  .main-content{
    color: rgb(209, 209, 211);
    padding-top: 10%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    /*min-height: 500px;
    margin-top: auto;
    margin-bottom: auto;*/
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.item {
    border: none;
    margin-bottom: 30px;
    max-width: 300px;
    box-shadow: white;
  }
  
  .item .item-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    box-shadow: white;
  }
  
  .item .item-wrap:after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
  }
  
  .item .item-wrap img {
    transition: .3s transform ease;
    transform: scale(1);
    
  }
  
  .item .item-wrap > .work-info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: .3s all ease;
  }
  
  .item .item-wrap > .work-info h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .item .item-wrap > .work-info span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  
  .item .item-wrap:hover {
    text-decoration: none;
  }
  
  .item .item-wrap:hover img {
    transform: scale(1.05);
  }
  
  .item .item-wrap:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .item .item-wrap:hover .work-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
  }

  /* Style the active class (and buttons on mouse-over) */
.active {
  background-color: rgba(201, 201, 201, 0.336);
  border-radius: 10px;
}